asgiref
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
djangorestframework_simplejwt
idna
lxml
Markdown
pillow
psycopg2-binary
py-dotenv
PyJWT
python-docx
python-dotenv
requests
sqlparse
typing_extensions
tzdata
urllib3